<!DOCTYPE html>
<html lang="en">
<body>
    {% if mango_id %}
    <center><a href="{{'/mango_page/' + mango_id}}">Mango Page</a></center>
    {% else %}
    <h1>Error getting mango associated with this chapter</h1>
    {% endif %}

    {%if images%}
    <ul>

        {% for result in images %}
        <center><img src="{{result}}"/></center>
        {% endfor %}
        
    </ul>
    {% else %}
    <h1>Error getting images, try in a minute</h1>
    {% endif %}


    {% if mango_id %}
    <center><a href="{{'/mango_page/' + mango_id}}">Mango Page</a></center>
    {% else %}
    <h1>Error getting mango associated with this chapter</h1>
    {% endif %}
</body>
</html>