<!DOCTYPE html>
<html lang="en">
<body>
    {%if results%}
    <ul>
        
        {% if tag %}
            {% if offset %}
                <li><a href="{{'/mango/' + (offset + 100)|string + '/' + tag|e }}">Next</a>
            {% else %}
                <li><a href="{{'/mango/100/' + tag|e }}">Next</a>
            {% endif %}
        {% else %}
            <li><a href="{{'/mango/' + (offset + 100)|string}}">Next</a>
            
        {% endif %}

        {% for result in results %}
            <li><a href="{{'/mango_page/' + result.data.id}}">{{ result.data.attributes.title.en }}</a>
        {% endfor %}
        
    </ul>
    {% else %}
    <h1>Error getting mango</h1>
    {% endif %}
</body>
</html>